@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
   font-family: 'Montserrat', sans-serif;
}
 /* added */
 .pointer{
    cursor: pointer;
 }
 /*  */
 img.logo{
    height: 70px;
 }
 
 .navbar{
    position: absolute;
    background-color: rgb(30, 39, 46) !important;
 }
 
/* top navbar */
ul.navbar-nav li a{
   color: azure !important;
}

/* flower picking pagination */
ul.pagination li a{
   color: #333 !important;
}

 img.icons{
    height: 30px !important;
    color: aliceblue !important;
 }

 footer{
   color: antiquewhite !important;
}


p.leftFoot, .left{
   text-align: right;
}

p.rightFoot, .right{
   text-align: left;
}

.left, .right{
   text-decoration: underline;
}


nav{

   color: antiquewhite;
}